.body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h4 {
  margin-bottom: 28px;
}

.header {
  padding: 32px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 8px;
  }
}
.header img {
  max-width: 150px;
}
@media screen and (max-width: 480px) {
  .header img {
    max-width: 100px;
  }
}

.header ul {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
}
.link {
  text-decoration: none;
  font-size: 1;
  color: #333333;
  font-weight: 400;
  margin: 40px;
}
@media screen and (max-width: 480px) {
  .link {
    margin: 8px;
  }
}
.link:hover {
  text-decoration: none;
  color: #ed3324;
}

.footer {
  padding: 32px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer div {
  flex: 1;
  color: #333333;
  line-height: 36px;
  margin-bottom: 32px;
}
@media screen and (max-width: 480px) {
  .footer div {
    text-align: center;
  }
}

.main {
  flex: 1;
  background: linear-gradient(45deg, #d12a7a, #ed3324);
  padding: 32px 16px 32px 16px;
  color: #ffffff;
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .content-wrapper {
    max-width: 850px;
  }
}
@media screen and (max-width: 480px) {
  .content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.users-container {
  height: 750px;
  overflow-y: scroll;
  padding-right: 32px;
  border-width: 1px;
  -ms-overflow-style: none;
}
.users-container::-webkit-scrollbar {
  display: none;
}

.user-list {
  list-style-type: none;
  margin: 0px;
  width: 40%;
  /* column-count: 2; */
}

.user-card {
  border-radius: 8px;
  background-color: #ffffff;
  width: 280px;
  color: #333333;
  height: auto;
  padding-top: 8px;
  padding-left: 16px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.avatar {
  width: 45px;
  height: 45px;
  margin-right: 16px;
}

form {
  color: #333333;
  background-color: #ffffff;
  border-radius: 24px;
  width: 700px;
  margin: 8px;
}
@media screen and (max-width: 1024px) {
  form {
    width: 350px;
  }
}
@media screen and (max-width: 480px) {
  form {
    width: 100vw;
    border-radius: 0px;
    margin: 16px 0px 16px 0px;
  }
}
form label {
  margin-top: 24px;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
  font-size: 11px;
  letter-spacing: 1px;
}

.button {
  color: #ffffff;
  font-size: 16px;
  height: 55px;
  font-weight: 200;
  background-color: #ed3324;
  border-radius: 200px;
  text-transform: none;
  border-width: 0px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0px 16px 0px 16px;
}
.button:hover {
  background-color: #d8281c;
}

.input:focus,
.button:focus {
  outline: none;
}

.input {
  border-width: 0px;
  width: 50%;
  height: 24px;
}

section {
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 16px;
}
.button-container div {
  width: 50%;
  border-right: 1px solid lightgrey;
}

.search-input {
  background-color: transparent;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
  width: 250px;
  margin-bottom: 8px;
}
.search-input:focus {
  outline: none;
}

.error {
  color: #ed3324;
  font-weight: 500;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.confirm-msg {
  color: #13994b;
  font-size: 16px;
  font-weight: 500;
  align-self: center;
  padding-top: 16px;
  text-align: center;
}
