<div>
  <h1>Users</h1>
  <h4>Number of users : {{$ctrl.count}}</h4>
  <div class="horizontal-container ">
    FILTRE
    <input ng-model="$ctrl.query" class="search-input" />
  </div>
  <div class="horizontal-container ">
    SORT BY
    <select ng-model="$ctrl.orderProp" class="search-input">
      <option value="firstName">Alphabetical</option>
      <option value="-id" ng-class="{reverse: reverse}">Newest</option>
    </select>
  </div>

  <div class="users-container">
    <ul class="user-list">
      <li
        ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp"
      >
        <a href="#!/{{user.id}}" class="thumb">
          <div class="user-card">
            <img src="/assets/account.png" alt="avatar" class="avatar" />
            <div>
              <p><label>Name</label> {{user.firstName}} {{user.lastName}}</p>
              <p><label>Email</label> {{user.email}}</p>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
